<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="product_question" frontName="product_question">
            <module name="AHT_ProductQuestion"/>
        </route>
        
    </router>
</config>